# created by virtualenv automatically
# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Python cache
*.pyo
*.pyd

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/
